@page "/activitylogslist"
@rendermode InteractiveServer
@using ActivityManagementApp.Models
@using ActivityManagementApp.Services
@inject FindActivityLogsService _findActivityLogsService

<h1>一覧画面</h1>

<h3>@targetDate.ToString("yyyy/MM/dd")</h3>

<div style="padding-bottom:20px;">
    <button @onclick="() => ChangeTragetDate(-1)">前日</button>
    <button @onclick="() => ChangeTragetDate(1)">翌日</button>
</div>

@foreach (ActivityLogs activityLog in _activityLogs)
{
    string customFormatStartTime = activityLog.StartDateTime.ToString("HH:mm");
    string customFormatEndTime = activityLog.EndDateTime.ToString("HH:mm");
    TimeSpan diff = DateTime.Parse(customFormatEndTime) - DateTime.Parse(customFormatStartTime);
    double passingRoundMinutes = Math.Round(diff.TotalMinutes);
    <h5>@activityLog.Category (@passingRoundMinutes 分) ： @customFormatStartTime ～ @customFormatEndTime</h5>
}

@code {
    DateTime targetDate = DateTime.Today;
    private List<ActivityLogs> _activityLogs = new List<ActivityLogs>();

    protected override async Task OnInitializedAsync()
    {
        _activityLogs = await _findActivityLogsService.FindActivityLogs(targetDate);
    }

    private async Task ChangeTragetDate(int changeDayNum)
    {
        targetDate = targetDate.AddDays(changeDayNum);
        _activityLogs = await _findActivityLogsService.FindActivityLogs(targetDate);
    }
}