@page "/activityinput"
@rendermode InteractiveServer
@using ActivityManagementApp.Models
@using ActivityManagementApp.Services
@inject ActivityInputService _activityInputService
@inject FindMasterServices _findMasterServices

<h1>入力画面</h1>

<div style="padding-bottom:15px">
    <h3>@activityStartTimeDisp @_activityLog.Category</h3>
    @if (_activityLog.Category != null)
    {
        <button @onclick="UpdateProgressActivityLogsAsync">終了</button>
        <button @onclick="DeleteProgressActivityLogsAsync">削除</button>
    }
</div>

@foreach (CategoryMaster categoryMaster in _categoryMasters)
{
    <button @onclick='() => StartActivity(categoryMaster.CategoryName)'>@categoryMaster.CategoryName</button>
}

@code {
    private List<CategoryMaster> _categoryMasters = new List<CategoryMaster>();
    private ActivityLogs _activityLog = new ActivityLogs();
    private string? activityStartTimeDisp = null;

    protected override async Task OnInitializedAsync()
    {
        _categoryMasters = await _findMasterServices.FindCategoryMaster();
        ActivityLogs? findResult = await _activityInputService.FindProgressActivityLogsAsync();

        if(findResult != null)
        {
            _activityLog = findResult;
            activityStartTimeDisp = findResult.StartDateTime.ToString("HH:mm");
        }
    }

    private void Initialize()
    {
        _activityLog = new ActivityLogs();
        activityStartTimeDisp = null;
    }

    private async Task StartActivity(string? category)
    {
        _activityLog.StartDateTime = DateTime.Now;
        _activityLog.Category = category;

        activityStartTimeDisp = _activityLog.StartDateTime.ToString("HH:mm");

        await _activityInputService.InsertActivityLogsAsync(_activityLog);
    }

    private async Task UpdateProgressActivityLogsAsync()
    {
        await _activityInputService.UpdateProgressActivityLogsAsync(_activityLog.Id);
        Initialize();
    }

    private async Task DeleteProgressActivityLogsAsync()
    {
        await _activityInputService.DeleteProgressActivityLogsAsync(_activityLog.Id);
        Initialize();
    }
}
