@page "/activitydetail/{Id:int}"
@rendermode InteractiveServer
@using ActivityManagementApp.Models
@using ActivityManagementApp.Services
@inject FindActivityLogsService _findActivityLogsService

<h1 style="padding-bottom:15px">詳細画面</h1>

<h3>@_activityLog.StartDateTime.ToShortDateString() @_activityLog.StartDateTime.ToShortTimeString()～@_activityLog.EndDateTime.ToShortTimeString() @_activityLog.Category</h3>

<div>
    <input style="width:415px" @bind="_activityLog.ActivityDetailTitle" />
</div>
<div>
    <textarea rows="10" cols="80" @bind="@_activityLog.ActivityDetail"></textarea>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ActivityLogs _activityLog = new ActivityLogs();

    protected override async Task OnInitializedAsync()
    {
        _activityLog = await _findActivityLogsService.FindActivityLogsById(Id);
    }
}
