@page "/activitylogslist"
@rendermode InteractiveServer
@using ActivityManagementApp.Models
@using ActivityManagementApp.Services
@inject FindActivityLogsService _findActivityLogsService
@inject FindMasterServices _findMasterServices

<h1>一覧画面</h1>

<h3>@targetDate.ToString("yyyy/MM/dd")</h3>

<div style="padding-bottom:20px;">
    <button @onclick="() => ChangeTragetDate(-1)">前日</button>
    <button @onclick="() => ChangeTragetDate(1)">翌日</button>
</div>

<div style="padding-bottom:20px;">
    <h4>娯楽の時間合計：@entertainmentTimeTotal 分</h4>
    <h4>自己研鑽の時間合計：@selfImprovementTimeTotal 分</h4>
    <h4>睡眠時間合計：@sleepTimeTotal 分</h4>
</div>

@foreach (ActivityLogs record in _activityLogs)
{
    string customFormatStartTime = record.StartDateTime.ToString("HH:mm");
    string customFormatEndTime = record.EndDateTime.ToString("HH:mm");

    <h5>
        @record.Category (@record.PassingRoundMinutes 分) ： @customFormatStartTime ～ @customFormatEndTime &nbsp;

        @if (record.activityDetail != null)
        {
            <a href="activitydetail/@record.Id" style="text-decoration:none;"> @record.activityDetail.Substring(0, 15)</a>
        }

    </h5>
}

@code {
    private DateTime targetDate = DateTime.Today;
    private double entertainmentTimeTotal;
    private double selfImprovementTimeTotal;
    private double sleepTimeTotal;
    private List<string> entertainmentList = new List<string>();
    private List<string> selfImprovementList = new List<string>();
    private List<string> sleepList = new List<string>();
    private List<ActivityLogs> _activityLogs = new List<ActivityLogs>();

    protected override async Task OnInitializedAsync()
    {
        List<CategoryMaster> categoryMasters = await _findMasterServices.FindCategoryMaster();

        foreach (CategoryMaster record in categoryMasters)
        {
            if (record.CategoryType == 1)
            {
                entertainmentList.Add(record.CategoryName ?? "");
            }
            else if (record.CategoryType == 2)
            {
                selfImprovementList.Add(record.CategoryName ?? "");
            }
            else if (record.CategoryType == 3)
            {
                sleepList.Add(record.CategoryName ?? "");
            }
        }

        _activityLogs = await _findActivityLogsService.FindActivityLogsByDatgetDate(targetDate);
        CalcSumTime(_activityLogs);
    }

    private async Task ChangeTragetDate(int changeDayNum)
    {
        entertainmentTimeTotal = selfImprovementTimeTotal = sleepTimeTotal = 0;
        targetDate = targetDate.AddDays(changeDayNum);
        _activityLogs = await _findActivityLogsService.FindActivityLogsByDatgetDate(targetDate);
        CalcSumTime(_activityLogs);
    }

    private void CalcSumTime(List<ActivityLogs> activityLogs)
    {
        foreach (ActivityLogs record in activityLogs)
        {
            if (entertainmentList.Contains(record.Category ?? ""))
            {
                entertainmentTimeTotal += record.PassingRoundMinutes;
            }
            else if (selfImprovementList.Contains(record.Category ?? ""))
            {
                selfImprovementTimeTotal += record.PassingRoundMinutes;
            }
            else if (sleepList.Contains(record.Category ?? ""))
            {
                sleepTimeTotal += record.PassingRoundMinutes;
            }
        }
    }
}