@page "/categorysettings"
@rendermode InteractiveServer

@using ActivityManagementApp.Components.CategorySettings
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>カテゴリ管理</PageTitle>

<h2 class="mb-4">カテゴリ管理</h2>

<!-- タブ切り替え -->
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <button class="nav-link @(activeTab == Tab.CategoryType ? "active" : "")"
                @onclick="() => ChangeTab(Tab.CategoryType)">
            カテゴリタイプ
        </button>
    </li>

    <li class="nav-item">
        <button class="nav-link @(activeTab == Tab.Category ? "active" : "")"
                @onclick="() => ChangeTab(Tab.Category)">
            カテゴリ
        </button>
    </li>
</ul>

<!-- タブ内容切り替え -->
@if (activeTab == Tab.CategoryType)
{
    <CategoryTypeTab />
}
else if (activeTab == Tab.Category)
{
    <CategoryTab />
}

@code {
    private enum Tab
    {
        CategoryType,
        Category
    }

    private Tab activeTab = Tab.CategoryType;

    private void ChangeTab(Tab next)
    {
        activeTab = next;
    }
}