@page "/Account/Logout"

@using ActivityManagementApp.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<PageTitle>ログアウト</PageTitle>

<p>ログアウトしています...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        // サインアウトして Cookie を破棄
        await SignInManager.SignOutAsync();

        // トップページ or ログイン画面にリダイレクト
        Navigation.NavigateTo("/Account/Login", forceLoad: true);
    }
}